@media screen and (max-width:336px) {
    body {
        max-width: 336px;
        width: 100%;
        margin: auto;
    }
    /*---------------------------------------*/
    header {
        background-color: #082841;
        position: relative;
        height: 648px;
        max-width: 336px;
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }
    .photo img {
        width: 144px;
        display: none;
    }
    .fullName {
        margin-top: 33px;
        position: inherit;
        display: block;
        font-family: Helvetica;
        font-weight: bold;
        width: 100%;
    }
    .photo {
        display: block;
        position: relative;
        width: 144px;
        height: 144px;
        margin-top: 21px;
        border-radius: 100%;
        background: url(../img/andrei.jpg) no-repeat -127px -18px;
        background-size: auto 500px;
    }
    .career,
    .name {
        text-align: center;
        color: #ffffff;
        display: block;
    }
    .career {
        font-size: 16px;
    }
    .name {
        font-size: 32px;
        margin-top: 15px;
    }
    .person {
        margin-top: 75px;
        max-width: 305px;
        width: 95%;
    }
    .headText {
        font-family: Georgia;
        font-size: 16px;
        color: #FFFFFF;
        line-height: 24px;
        text-align: center;
    }
    .worksContainer {
        display: none;
    }
    /*---------------------------------------*/
    .expectations,
    .myWork {
        width: 92.2%;
        position: inherit;
    }
    .expectations {
        margin-top: 91px;
    }
    .myWork {
        margin-top: 90px;
    }
    .expectationsTitle,
    .myWorkTitle {
        font-family: Helvetica;
        font-weight: bold;
        color: #000000;
        font-size: 32px;
        line-height: 40px;
    }
    .blocksContainer {
        margin-top: 38px;
        position: relative;
        display: inline-flex;
        flex-flow: row wrap;
        height: 448px;
    }
    .block {
        background-image: linear-gradient(-180deg, #E6F0F0 0%, #E9F0E6 100%);
        border-radius: 4px;
        height: 47%;
        position: relative;
        display: flex;
        flex-flow: column wrap;
        align-items: left;
        justify-content: space-between;
    }
    .blockName {
        font-family: Helvetica;
        font-weight: bold;
        color: #000000;
        font-size: 24px;
        margin-top: 25px;
        margin-left: 32px;
    }
    .blockText {
        font-family: Georgia;
        font-size: 16px;
        color: #000000;
        line-height: 24px;
        padding-right: 75px;
        margin-bottom: 25px;
        margin-left: 32px;
    }
    #b1 {
        width: 58.5%;
        margin-right: 1.5%;
    }
    #b2 {
        width: 40%;
    }
    #b3 {
        width: 39.5%;
        margin-right: 1.5%;
    }
    #b4 {
        width: 59%;
    }
    .worksContainer {
        margin-top: 63px;
    }
    /*---------------------------------------*/
    footer {
        height: 960px;
        width: 100%;
        background: linear-gradient(#e6f0f0, #e9f0e6);
        display: flex;
        flex-flow: column;
        align-items: center;
        position: inherit;
    }
    .contacts {
        margin-top: 43px;
        position: inherit;
        display: inline-flex;
        flex-flow: column;
        align-items: left;
        max-width: 90%;
        width: 100%;
    }
    .contactTitle {
        font-family: Helvetica;
        font-weight: bold;
        color: #000000;
        font-size: 32px;
        width: 100%;
    }
    .infoContainer {
        margin-top: 15px;
        display: inline-flex;
        flex-flow: column;
        position: inherit;
        align-items: left;
        width: 100%;
    }
    .contactInfo {
        /* margin-right: 96px; */
        font-family: Georgia;
        font-size: 16px;
        color: #000000;
        line-height: 24px;
        display: inline-flex;
        flex-flow: column nowrap;
        position: inherit;
        width: 100%;
    }
    .contactText,
    .linksTitle {
        font-family: Georgia;
        font-size: 16px;
        color: #000000;
        line-height: 24px;
    }
    .linksContainer {
        order: -1;
    }
    .contactText {
        margin-top: 9px;
        width: 100%;
    }
    .linksTitle {
        display: none;
    }
    .contactFields {
        display: inline-flex;
        flex-flow: column;
        justify-content: space-around;
        max-width: 704px;
        width: 100%;
        margin-top: 32px;
    }
    .contactFields input,
    textarea {
        margin-top: 24px;
        background: #FFFFFF;
        border-radius: 4px;
        border-style: hidden;
    }
    .contactFields textarea {
        resize: none;
    }
    #writerName,
    #writerEmail,
    #file,
    #writerMessage {
        min-height: 48px;
        font-family: Georgia;
        font-size: 16px;
        color: #000000;
        line-height: 24px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .linksTitle {
        margin-top: 30px;
    }
    #writerMessage {
        padding-top: 11px;
    }
    #writerButton {
        background: #DD3E18;
        font-family: Helvetica;
        font-weight: bold;
        font-size: 16px;
        color: #FFFFFF;
        line-height: 24px;
        height: 48px;
    }
    .contactFields label {
        font-family: Helvetica;
        font-weight: bold;
        font-size: 16px;
        color: #DD3E18;
        line-height: 24px;
    }
    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    .inputfile+label {
        margin-top: 10px;
        cursor: pointer;
    }
    .chooseFile {
        display: flex;
        flex-flow: row;
        align-items: center;
    }
    .chooseFile label img {
        max-height: 20px;
        height: 100%;
    }
    .square {
        height: 20px;
        width: 20px;
        opacity: 0.1;
        background: #000000;
        border-radius: 2px;
        margin-top: 2px;
    }
    .link {
        display: flex;
        flex-flow: row nowrap;
    }
    .link a {
        margin-left: 12px;
        color: #DD3E18;
        text-decoration: none;
    }
}