@media screen and (min-width:337px) and (max-width:768px) {
    body {
        max-width: 768px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    /*---------------------------------------*/
    header {
        background-color: #082841;
        position: inherit;
        height: 1024px;
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }
    .photo img {
        width: 384px;
        display: none;
    }
    .photo {
        display: block;
        position: inherit;
        max-width: 384px;
        max-height: 384px;
        width: 100%;
        height: 100%;
        margin-top: 39px;
        border-radius: 100%;
        background: url(../img/andrei.jpg) no-repeat -200px 0;
        background-size: auto 1000px;
    }
    .fullName {
        margin-top: 97px;
        position: inherit;
        display: block;
        font-family: Helvetica;
        font-weight: bold;
        min-width: 337px;
    }
    .career,
    .name {
        text-align: center;
        color: #ffffff;
        display: block;
    }
    .career {
        font-size: 24px;
    }
    .name {
        font-size: 40px;
        margin-top: 11px;
    }
    .person {
        margin-top: 75px;
        max-width: 544px;
        width: 95%;
    }
    .headText {
        font-family: Georgia;
        color: #ffffff;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    }
    /*---------------------------------------*/
    main {
        position: inherit;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        width: 100%;
    }
    /*------------------*/
    .expectations,
    .myWork {
        width: 92.2%;
        position: inherit;
    }
    .expectations {
        margin-top: 82px;
    }
    .myWork {
        margin-top: 105px;
        margin-bottom: 22px;
    }
    .expectationsTitle,
    .myWorkTitle {
        font-family: Helvetica;
        font-weight: bold;
        color: #000000;
        font-size: 40px;
    }
    .blocksContainer {
        margin-top: 38px;
        position: relative;
        display: inline-flex;
        flex-flow: row wrap;
        height: 448px;
    }
    .sliderCheckExp,
    .sliderLabelExp {
        display: none;
    }
    .block {
        background-image: linear-gradient(-180deg, #E6F0F0 0%, #E9F0E6 100%);
        border-radius: 4px;
        height: 47%;
        position: relative;
        display: flex;
        flex-flow: column wrap;
        align-items: left;
        justify-content: space-between;
    }
    .blockName {
        font-family: Helvetica;
        font-weight: bold;
        color: #000000;
        font-size: 24px;
        margin-top: 25px;
        margin-left: 32px;
    }
    .blockText {
        font-family: Georgia;
        font-size: 16px;
        color: #000000;
        line-height: 24px;
        padding-right: 75px;
        margin-bottom: 25px;
        margin-left: 32px;
    }
    #b1 {
        width: 58.5%;
        margin-right: 1.5%;
    }
    #b2 {
        width: 40%;
    }
    #b3 {
        width: 39.5%;
        margin-right: 1.5%;
    }
    #b4 {
        width: 59%;
    }
    .worksContainer {
        margin-top: 63px;
        position: inherit;
    }
    .work {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        height: 100%;
        margin-bottom: 64px;
    }
    /*------------------*/
    .slider {
        position: relative;
        width: 100%;
        text-align: center;
        margin-top: 40px;
    }
    .sliderCheck {
        position: absolute;
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    .sliderImage {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .sliderLabel {
        position: inherit;
        margin-top: 80%;
        overflow: hidden;
        display: inline-block;
        margin-left: 24px;
        width: 8px;
        height: 8px;
        background: #DD3E18;
        border-radius: 50%;
        text-indent: -9999px;
    }
    /* Display */
    .sliderImage {
        display: none;
    }
    .sliderCheck:checked+.sliderLabel+.sliderImage {
        display: block;
    }
    /* Current */
    .sliderCheck:checked+.sliderLabel {
        background: #000000;
    }
    /*------------------*/
    .workDescription {
        width: 100%;
        position: inherit;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        order: -1;
    }
    .workName {
        font-family: Helvetica;
        font-weight: bold;
        font-size: 24px;
        color: #000000;
    }
    .workURL {
        margin-top: 8px;
    }
    .workURL a {
        font-family: Georgia;
        font-size: 16px;
        color: #DD3E18;
        line-height: 24px;
        text-decoration: none;
    }
    .workText {
        opacity: 0.8;
        font-family: Georgia;
        font-size: 16px;
        color: #000000;
        line-height: 24px;
        width: 50%;
    }
    /*---------------------------------------*/
    footer {
        height: 819px;
        width: 100%;
        background: linear-gradient(#e6f0f0, #e9f0e6);
        display: flex;
        flex-flow: column;
        align-items: center;
        position: inherit;
    }
    .contacts {
        margin-top: 33px;
        position: inherit;
        display: inline-flex;
        flex-flow: column;
        align-items: left;
        max-width: 704px;
        width: 92.2%;
    }
    .contactTitle {
        font-family: Helvetica;
        font-weight: bold;
        color: #000000;
        font-size: 40px;
        width: 100%;
    }
    .infoContainer {
        margin-top: 21px;
        display: inline-flex;
        flex-flow: column;
        position: inherit;
        width: 100%;
    }
    .contactInfo {
        margin-right: 96px;
        font-family: Georgia;
        font-size: 16px;
        color: #000000;
        line-height: 24px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100%;
    }
    .contactText,
    .linksTitle {
        font-family: Georgia;
        font-size: 16px;
        color: #000000;
        line-height: 24px;
    }
    .contactText {
        width: 55%;
    }
    .linksTitle {
        display: none;
    }
    .contactFields {
        display: inline-flex;
        flex-flow: column;
        justify-content: space-around;
        max-width: 704px;
        width: 100%;
        margin-top: 24px;
    }
    .contactFields input,
    textarea {
        margin-top: 24px;
        background: #FFFFFF;
        border-radius: 4px;
        border-style: hidden;
    }
    .contactFields textarea {
        resize: none;
    }
    #writerName,
    #writerEmail,
    #file,
    #writerMessage {
        min-height: 48px;
        font-family: Georgia;
        font-size: 16px;
        color: #000000;
        line-height: 24px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .linksTitle {
        margin-top: 30px;
    }
    #writerMessage {
        padding-top: 11px;
    }
    #writerButton {
        background: #DD3E18;
        font-family: Helvetica;
        font-weight: bold;
        font-size: 16px;
        color: #FFFFFF;
        line-height: 24px;
        height: 48px;
    }
    .contactFields label {
        font-family: Helvetica;
        font-weight: bold;
        font-size: 16px;
        color: #DD3E18;
        line-height: 24px;
    }
    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    .inputfile+label {
        margin-top: 10px;
        cursor: pointer;
    }
    .chooseFile {
        display: flex;
        flex-flow: row;
        align-items: center;
    }
    .chooseFile label img {
        max-height: 20px;
        height: 100%;
    }
    .socialLinks {
        display: flex;
        flex-flow: column;
        align-items: left;
        position: relative;
        right: 100%;
    }
    .square {
        height: 20px;
        width: 20px;
        opacity: 0.1;
        background: #000000;
        border-radius: 2px;
        margin-top: 2px;
    }
    .link {
        display: flex;
        flex-flow: row nowrap;
    }
    .link a {
        margin-left: 12px;
        color: #DD3E18;
        text-decoration: none;
    }
}