body {
    max-width: 1440px;
    width: 95%;
    margin: auto;
}

header {
    background-color: #082841;
    position: relative;
}

footer {
    height: 795px;
    background: linear-gradient(#e6f0f0, #e9f0e6);
}

@media screen and (max-width:5000px) {
    .photo {    
        width: 552px;
        overflow: hidden;
        float: left;
        display: block;
    }

    .photo img {           
        max-height: 672px;
    }

    header {
        height: 672px;
    }

    .fullName {
        margin-top: 65px;
        margin-left: 647px;
        position: absolute;
    }
}

@media screen and (max-width:1024px) {
    .photo {    
        width: 424px;
        display: block;
    }

    .photo img {    
        margin-left: -64px;        
        max-height: 768px;
    }

    header {
        height: 768px;
    }

    .fullName {
        margin-top: 65px;
        margin-left: 519px;
        position: absolute;
    }
}

@media screen and (max-width:768px) {
    .photo {
        margin-top: 227px;
        width: 384px;
        height: 384px;  
        border-radius: 100%;
        float: none;
        position: absolute;
        display: flex;
        align-items: flex-start;
        margin-left: 23%;
        margin-left: 23%;
    }

    .wrapper {

        max-width: 768px;
        width: 100%;
        position: absolute;
    }

    .photo img {
        overflow: hidden;
    }

    .fullName {
        margin-top: 97px;
        margin-left: auto;
        max-width: 768px;
        width: 100%;
        position: absolute;
    }

    .career, .name {
        text-align: center;
    }

    header {
        height: 1024px;
        display: flex;
        align-items: baseline;
    }
}

.fullName {
    display: block;
    font-family: Helvetica;
    font-weight: bold;
}

.career {
    color: #ffffff;
    display: block;
    font-size: 24px;
}

.name {
    color: #ffffff;
    display: block;
    font-size: 40px;
    margin-top: 11px;
}

.person {
    background-color: #0d6b34;
    max-width: 888px;
    height: 672px;
    padding-left: 96px;
    padding-right: 6%;
    display: block;
    position: sticky;
    float: right;
}